body {
	font-family: MyriadPro;
	font-size:.9em;
	color: #444;
	margin:0 auto;
}

hr {
	display:block;
	border: 0 none;
	font-size:  50px;
		margin: -35px 0 0;
}

hr.icon-flair:after {
	content:".";
	color:#aaa;

}
ul {list-style:none;}

li.label {
	font-family: Georgia;
	font-style: italic;
	float:left;
	display: block;
	clear:left;
	margin:0 10px 0 -100px;
	text-align: right;
	width:150px;
	color: #777;

}

#cv{
	width: 60em;
	margin: 0;
	/*background: #f5f5f5;
	border: solid #666;
	border-width: 8px 0 2px 0;*/
	padding: 100px 80px;
	margin: 80px auto;
	
}

#cv h2 {
	margin:0 0 0 100px;
	font-weight:500;
}
#cv h4, h5.em {
	margin:0 0 0 100px;
	font-weight: normal;
	color: #999;
}
#cv h5 {
	margin: 0 0 0 60px;
}
#cv h5.em,  { font-style:italic; }

#Experience li.label {
	margin: 0 10px 0 -100px;
	height:130px !important;
}

#Experience p { padding: 0 0 10px; margin:0;}

#left{float:left; display:block; width:45%; margin: 0 100px 0 0;}
#right{margin:170px 0 0 0;}

#Skills li { margin:0 0 10px; font-size:}
li em { color: #777; font-weight:500;}
